<section class="container text-white py-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="display-6">Contact Us</h2>
            <p class="mb-4">Feel free to contact us with any questions or inquiries.</p>
            <p>
                <strong>Address</strong>
                Photo Booth tattooed prism, portland taiyaki hoodie neutra typewriter
            </p>
            <p>
                <strong>Email</strong><br />
                example&#64;email.com
            </p>
            <p>
                <strong>Phone</strong><br />
                123-456-7890
            </p>
        </div>
        <div class="col-md-6">
            <h2>Send Message</h2>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control border-secondary" id="name" name="name" required />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control border-secondary" id="email" name="email" required />
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control border-secondary" id="message" name="message" rows="5"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>